<a [routerLink]="['/contacts', contact.email]" routerLinkActive="active" class="list-group-item list-group-item-action mb-2">
  <div>
    <h4 class="mb-0">
      <span innerHTML="{{contact?.name?.displayName | highlight: highlight}}"></span>
    </h4>
    <div>
      <small>
        <a [href]="'mailto:'+[contact?.email]" (click)="$event.stopPropagation()">
          <span innerHTML="{{contact?.email | highlight: highlight}}"></span>
        </a>
      </small>
    </div>
    <div>
      <small>
        <a [href]="'tel:'+[contact?.phone]" (click)="$event.stopPropagation()">
          <span innerHTML="{{contact?.phone | highlight: highlight}}"></span>
        </a>
      </small>
    </div>
  </div>
</a>
