<nav class="navbar navbar-dark bg-primary navbar-expand-sm">
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar-collapse-content" aria-controls="navbar-collapse-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" class="navbar-brand mr-auto">
    <span>
      Contact Manager
    </span>
  </a>
  <div class="collapse navbar-collapse" id="navbar-collapse-content">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link disabled" disabled>Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/contacts']" routerLinkActive="router-link-active" class="nav-link active">Contacts</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid pt-3">
  <router-outlet></router-outlet>
</div>
