/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/font-awesome.css";

.highlight{
  background-color: rgba(1,1,1,.10);
  font-weight: bold;
}
input, select, textarea{
  &.ng-invalid{
    &:not(.ng-pristine){
      border:2px solid red;
    }
  }
}
